Potential information leakage in show_user_not_authorized_error

#### Problem
The `show_user_not_authorized_error` handler could potentially leak sensitive information depending on the application. For example, lets say you have a project management application with urls like: `/:organization/:project_name`. I could visit `/google/slack-acquisition` and check the response code. If I get a 404, then the project doesn't exist, but if I get a 2XX/3XX, then I can assume that Google may be about to acquire Slack. 

#### Suggested solution
When pundit raises not authorized, simply render the standard 404 page.

That is a very good point. After reading your issue, I have added that recommendation to the [Zen Rails Security Checklist](https://github.com/brunofacca/zen-rails-security-checklist).

I first thought it might violate REST standards, but it does not. [Section 10.4.4 of RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4), regarding the `403 Forbidden` status code says:

> The server understood the request but is refusing to fulfill it. Authorization will not help and the request SHOULD NOT be repeated. If the request method was not HEAD and the server wishes to make public why the request has not been fulfilled, it SHOULD describe the reason for the refusal in the entity. If the server does not wish to make this information available to the client, the status code 404 (Not Found) can be used instead.

However, returning 404 instead of 403 for authorization errors makes troubleshooting harder. 

For instance, we may think of other cases in which authorization errors occur. A user may try to edit or delete a record she is only authorized to view. The user knows the resource is there, getting a 404 error will disrupt the UX flow and may lead her to think the application is broken. That may generate unnecessary support requests. That can be mitigated by minimizing authorization errors, for instance, by ensuring that the UI of each user role only displays controls she is authorized to use. For example, if a particular user role does is not permitted to delete records in a certain resource, a "delete" button should not appear on her UI. 

IMO whether the security vs. maintainability tradeoff is worth it depends on the security requirements of each application. 

I admit I'm torn on this one. Considering the above, do you still think we should return 404 by default?

Closing due to inactivity.